body{
  margin: 0;
}

/* Typography */

header h1{
  font-family: 'Lora', serif;
  font-size: 2rem;
  color: #143774;
  font-weight: 400;
  margin: 0;
}

header p{
  font-family: 'Ubuntu', sans-serif;
  font-size: .75rem;
  color: #1792d2;
  font-weight: 700;
  margin: 0;
}

/* layout */

.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.container-nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header{
  padding: 2em 0;
  background: #f8f8f8;
}

@media (max-width: 675px){
  .container-nav{
    flex-direction: column;
  }

  header{
    text-align: center;
  }
}

/* navigation */

nav ul{
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
}

nav li{
  margin-left: 2em;
}

nav a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: #707070;
  padding: .25em 0;
}

nav a:hover,
nav a:focus{
  color: #1792d2;
}

.current-page{
  border-bottom: 1px solid #707070;
}
.current-page:hover{
  color: #707070;
}

@media (max-width: 675px){
  nav ul{
    flex-direction: column;
    text-align: center;
  }

  nav li{
    margin: .5em 0;
  }
}

/* nav a::after{
  content: '';
  height: 1px;
  width: 0;
  background-color: #707070;
  display: block;
  transition: 100ms;
}
nav a:hover::after{
  width: 100%;
} */